.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  min-height: 67.9%;
}

.table-container .mat-elevation-z8 {
  width: 100%;
  max-width: 1200px;
}
